name: CI

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  build:
    name: 'Build and Push'
    runs-on: ubuntu-latest
    # strategy:
    #   # matrix:
    #   #   node: [16, 18, 20]

    steps:
    - uses: actions/checkout@v4

    # - name: Setup node | ${{ matrix.node }}
    - name: Setup node
      uses: actions/setup-node@v4
      with:
        # node-version: ${{ matrix.node }}
        node-version: 18
        cache: 'yarn'
    - run: yarn
    - run: yarn run test

    - name: Generate tag
      id: generate_tag 
      run: |
        SHA=$(echo $GITHUB_SHA | head -c7)
        echo "sha=$SHA" >> $GITHUB_OUTPUT
    
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ''
        aws-region: us-east-2

    - name: Login to AWS ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2
      
    # - name: Login into the container registry
    #   uses : docker/login-action@v3
    #   with:
    #     username: ${{ secrets.DOCKERHUB_USERNAME }}
    #     password: ${{ secrets.DOCKERHUB_TOKEN }}

    # - name: Build and push
    #   uses: docker/build-push-action@v5
    #   with:
    #     push: true
    #     tags: danielrodriguess/rocketseat-ci-api:${{ steps.generate_tag.outputs.sha }},danielrodriguess/rocketseat-ci-api:latest

    # - name: Build
    #   run: docker build -t danielrodriguess/rocketseat-ci-api:${{ steps.generate_tag.outputs.sha }} . 

    # - name: Push image
    #   run: docker push danielrodriguess/rocketseat-ci-api:${{ steps.generate_tag.outputs.sha }} 